.close {
  position: absolute;
  right: 40px;
  top: 60px;
  cursor: pointer;
}

.idOrder {
  text-align: center;
}

.idOrderTitle {
  text-align: center;
}

.image {
  width: 120px;
  height: 120px;
}

.orderText {
  text-align: center;
}

.orderSubText {
  text-align: center;
}