.section {
  max-width: 600px;
}

.tab {
  display: flex;
}

.ingredientContainer {
  height: 650px;
  overflow-y: scroll;
}

.elementsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 24px;
}