.li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.link {
  margin: 0;
  padding: 0;
  color: #8585AD;
  text-decoration: none;
}

.linkActive {
  color: #F2F2F3;
}